---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Blog">
  <div class="">
    <img src="" alt="" />
  </div>
</Layout>
<style>
  .border-gradiente {
    border-image: linear-gradient(
      to right,
      hsl(249, 99%, 64%),
      hsl(278, 94%, 30%)
    );
    border-image-slice: 44;
  }
</style>
