---
interface Props {
  placeholder: string;
  limit: number;
  id: string;
}
const { placeholder, limit, id } = Astro.props;
---

<div class="mb-4">
  <input
    id={id}
    type="text"
    placeholder={placeholder}
    class="w-full px-4 py-1 font-semibold border rounded-md outline-none border-inp border-dark-grayish-violet text-normal text-dark-grayish-violet"
    maxlength={limit}
  />
</div>
